### 데이터를 가져오고 인코딩하기

#### <데이터 가져오기>

In [2]:
# 1. 인터넷 링크에서 데이터 가져오기

import pandas as pd

# CSV 파일 읽기
url = "https://github.com/MyungKyuYi/AI-class/raw/main/titanic.csv"  # 원본 데이터 경로
df = pd.read_csv(url)

# XLSX 파일 읽기
url_xlsx = "https://github.com/MyungKyuYi/AI-class/raw/main/combined_dataset-1.xlsx"
df_xlsx = pd.read_excel(url_xlsx, engine="openpyxl")
    # engine="openpyxl": 읽기 엔진을 openpyxl로 설정. 최신 파이썬은 엑셀 파일을 지원하지 않으므로 엔진을 넣어주어야 함

print(df.head())  # 데이터 미리보기
print("---------------")
print(df_xlsx.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
---------------
   Num.  subject_ID Sex(M/F)  Age(year)  Height(cm)  Weight(kg)  \
0     1           2   Female         45         152          63
1     1           2   Female         45         152          63
2     1           2   Female         45         152          63
3     2           3   Female         50         157          50
4     2           3   Female         50         157          50

   Systolic Blood Pressure(mmHg)  Diastolic Blood Pressure(mmHg)  \
0                            161                              89
1                            161                              89
2                            161                              89
3                            160                              93
4                            160                              93

   Heart Rate(b/m)  BMI(kg/m^2)  ...  2091  2092  2093  2094  2095  2096  \
0               97    27.268006  ...  1766  1766  1766  1833  1833  1827
1               97    27.268006  ...  1985  1985  2026  2026  2026  1977
2               97    27.268006  ...  1942  1900  1900  1938  1938  1938
3               76    20.284799  ...  2073  2072  2072  2072  2051  2051
4               76    20.284799  ...  2021  2010  2010  2010  2001  2001

   2097  2098  2099  2100
0  1827  1827  1754  1754
1  1977  1997  1997  1997
2  1924  1924  1929  1929
3  2036  2036  2036  2045
4  2003  2003  2003  1989

[5 rows x 2114 columns]

In [3]:
# 2. 로컬 파일에서 데이터 가져오기

import pandas as pd

# CSV 파일 읽기
df_local = pd.read_csv("../titanic.csv")

# XLSX 파일 읽기
df_local_xlsx = pd.read_excel("../combined_dataset-1.xlsx", engine="openpyxl")

print(df_local.head())  # 데이터 확인
print("---------------")
print(df_local_xlsx.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
---------------
   Num.  subject_ID Sex(M/F)  Age(year)  Height(cm)  Weight(kg)  \
0     1           2   Female         45         152          63
1     1           2   Female         45         152          63
2     1           2   Female         45         152          63
3     2           3   Female         50         157          50
4     2           3   Female         50         157          50

   Systolic Blood Pressure(mmHg)  Diastolic Blood Pressure(mmHg)  \
0                            161                              89
1                            161                              89
2                            161                              89
3                            160                              93
4                            160                              93

   Heart Rate(b/m)  BMI(kg/m^2)  ...  2091  2092  2093  2094  2095  2096  \
0               97    27.268006  ...  1766  1766  1766  1833  1833  1827
1               97    27.268006  ...  1985  1985  2026  2026  2026  1977
2               97    27.268006  ...  1942  1900  1900  1938  1938  1938
3               76    20.284799  ...  2073  2072  2072  2072  2051  2051
4               76    20.284799  ...  2021  2010  2010  2010  2001  2001

   2097  2098  2099  2100
0  1827  1827  1754  1754
1  1977  1997  1997  1997
2  1924  1924  1929  1929
3  2036  2036  2036  2045
4  2003  2003  2003  1989

[5 rows x 2114 columns]

In [4]:
# 3. sklearn.datasets 라이브러리 에서 가져오기(여기서는 와인 데이터를 가져옴)

from sklearn import datasets
import pandas as pd

wine = datasets.load_wine()
df_wine = pd.DataFrame(wine.data, columns=wine.feature_names)
df_wine["target"] = wine.target

print(df_wine.head())

   alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
0    14.23        1.71  2.43               15.6      127.0           2.80
1    13.20        1.78  2.14               11.2      100.0           2.65
2    13.16        2.36  2.67               18.6      101.0           2.80
3    14.37        1.95  2.50               16.8      113.0           3.85
4    13.24        2.59  2.87               21.0      118.0           2.80

   flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
0        3.06                  0.28             2.29             5.64  1.04
1        2.76                  0.26             1.28             4.38  1.05
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86
4        2.69                  0.39             1.82             4.32  1.04

   od280/od315_of_diluted_wines  proline  target
0                          3.92   1065.0       0
1                          3.40   1050.0       0
2                          3.17   1185.0       0
3                          3.45   1480.0       0
4                          2.93    735.0       0

In [5]:
# 외전. 가짜 데이터 직접 생성

from sklearn.datasets import make_classification

X, y = make_classification(n_samples=1000, n_features=20, n_classes=2, random_state=42)
    # 샘플 데이터 생성 (1000개 샘플, 20개의 특성)

df_classification = pd.DataFrame(X, columns=[f"feature_{i}" for i in range(20)])
df_classification["target"] = y

print(df_classification.head())

   feature_0  feature_1  feature_2  feature_3  feature_4  feature_5  \
0  -0.669356  -1.495778  -0.870766   1.141831   0.021606   1.730630
1   0.093372   0.785848   0.105754   1.272354  -0.846316  -0.979093
2  -0.905797  -0.608341   0.295141   0.943716   0.092936   1.370397
3  -0.585793   0.389279   0.698816   0.436236  -0.315082   0.459505
4   1.146441   0.515579  -1.222895  -0.396230  -1.293508  -0.352428

   feature_6  feature_7  feature_8  feature_9  ...  feature_11  feature_12  \
0  -1.251698   0.289305   0.357163  -0.196811  ...    0.154850   -0.219970
1   1.263707   0.264020   2.411677  -0.960046  ...    0.199810    0.288724
2  -0.064772   0.287273  -0.533004  -0.032504  ...   -0.510064   -0.868768
3   1.448820   0.505558  -1.440982  -1.134020  ...    1.466783    0.678728
4   0.071254   1.239584   1.007133  -1.479444  ...   -0.918127    0.604121

   feature_13  feature_14  feature_15  feature_16  feature_17  feature_18  \
0   -0.739137    1.802012    1.634606   -0.938180   -1.267337   -1.276334
1    0.732492   -0.872002   -1.654887   -1.130204   -0.122709    0.693431
2   -0.598279    0.019832    0.613460   -1.779439    0.830498   -0.737332
3   -1.190917   -1.442381   -0.929136   -0.221600   -0.346772    0.034246
4    1.068379   -0.882271    2.303639   -0.973379    1.259233    0.360015

   feature_19  target
0    1.016643       1
1    0.911363       0
2   -0.578212       1
3   -1.040199       1
4    1.920368       0

[5 rows x 21 columns]

#### <데이터 인코딩>
아래 예제에서는 df_local의 Embarked를 인코딩함. 각 인코딩을 실행하기 전에 위의 [2. 로컬 파일에서 데이터 가져오기]를 실행할 것.

In [3]:
# 1. Label 인코딩: 각각의 값마다다 숫자 할당

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_local["Embarked"] = le.fit_transform(df_local["Embarked"])  # 'Sex' 컬럼을 숫자로 변환
    # C, Q, S 셋 중 하나는 0, 하나는 1, 하나는 2가 될 것

print(df_local["Embarked"].head())  # 변환된 값 출력

0    2
1    0
2    2
3    2
4    2
Name: Embarked, dtype: int64

In [ ]:
# 2. One-Hot 인코딩: 각각의 값마다 열(속성)을 새로 만듦. 각 속성은 true, false값을 가짐.
df_local = pd.get_dummies(df_local, columns=["Embarked"])  # 'Embarked' 컬럼을 원-핫 인코딩
    # Embarked_C  Embarked_Q  Embarked_S 세 개 속성(열)이 추가로 생김
print(df_local.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin  Embarked_C  Embarked_Q  Embarked_S
0      0         A/5 21171   7.2500   NaN       False       False        True
1      0          PC 17599  71.2833   C85        True       False       False
2      0  STON/O2. 3101282   7.9250   NaN       False       False        True
3      0            113803  53.1000  C123       False       False        True
4      0            373450   8.0500   NaN       False       False        True

In [23]:
# 3. Ordinal(순서형) 인코딩: 값을 숫자로 바꿀 때, 넣을 숫자의 순서 지정 가능. 데이터에 순서가 있을 때 주로 사용.

from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder(handle_unknown="use_encoded_value", unknown_value=-1, categories=[["C", "Q", "S"]])  # 순서 지정 가능
    # 현재 Embarked 속성에 NaN(결측값)값이 있어서 추가 설정을 해야만 순서형 인코딩 가능
    # handle_unknown="use_encoded_value": 알 수 없는 값(NaN(결측값) 등)이 등장해도 변환을 계속함
    # unknown_value=-1: NaN값을 -1로 인코딩
df_local["Embarked"] = ordinal_encoder.fit_transform(df_local[["Embarked"]])

print(df_local["Embarked"].head())

0    2.0
1    0.0
2    2.0
3    2.0
4    2.0
Name: Embarked, dtype: float64

In [4]:
# 4. Target 인코딩: 카테고리를 해당 값의 평균 타겟 값으로 변환하는 방식.
    # groupby("Sex")["Survived"] <= ()에 인코딩할 속성, []에 평균의 기준이 될 속성을 넣음
    # 예를 들어 male인 사람들의 평균 Survived 값이 0.2이고, female인 사람들의 평균 Survived 값이 0.7이라면,
    # 그 평균값이 인코딩된 값이 되는 것.
    # 일반적인 인코딩 데이터와 달리 값이 의미를 가지기 때문에, 모델이 더 많은 의미를 배울 수 있음 but 과적합 위험 증가
df_local["Sex_encoded"] = df_local.groupby("Sex")["Survived"].transform("mean")
print(df_local[["Sex", "Sex_encoded"]].head())

      Sex  Sex_encoded
0    male     0.188908
1  female     0.742038
2  female     0.742038
3  female     0.742038
4    male     0.188908

#### <데이터 정보 확인하기(EDA)>
EDA(탐색적 데이터 분석): 데이터를 시각화하고 통계 분석해 특징과 레이블의 전체적인 특성을 파악하는 것. **여기서 하는 것:** 특정 열 값 개수 확인

In [ ]:
# 1. 특정 열의 값 개수 확인
print(df['Pclass'].value_counts())
    # value_counts(): 열의 각 값의 개수를 반환

Pclass
3    491
1    216
2    184
Name: count, dtype: int64